@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron mt-4">
    <h2  class="display-4">Bienvenido</h2>
    <p class="lead">Aqui la salud esta primero</p>
    @*<p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>


<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Content/Media/12354.png"  alt="">
            <div class="card-body">
                <h4 class="card-title">Doctor</h4>
                <p class="card-text">
                    Estos artículos tratan la gramática española.
                   
                </p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Pacientes", "Index","pacientes",null, new {@class= "btn btn-primary" })
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Content/Media/1339788964763703.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Citas</h4>
                <p class="card-text">¿Quieres empezar a aprender y </p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Empleados", "Index", "empleadoes", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Content/Media/1hospital.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Consultas</h4>
                <p class="card-text">
                    ¿Quieres empezar a aprender y practicar verbos 
                    
                </p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Consultas", "Index", "consultas", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="~/Content/Media/1hospital.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">citas</h4>
                <p class="card-text">
                    ¿Quieres empezar a aprender y practicar verbos 
                </p>
            </div>
            <div class="card-footer">
                @Html.ActionLink("Citas", "Index", "citas", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    

    
   
